.monda{
  font-family: 'Monda', sans-serif;
}

.baloo{
  font-family: 'Baloo Thambi 2', system-ui;
  font-weight: 500;
}

.baloo-da{
  font-family: 'Baloo Da 2', sans-serif;
}

.bungee{
  font-family: 'Bungee', sans-serif;
}

@font-face {
  font-family: 'Droid-sans';
  src: url('./assets/DroidSans.ttf') format('truetype');
}

.droid {
  font-family: 'Droid-sans', sans-serif;
  font-weight: 700px;
}

.duru{
  font-family: 'Duru Sans', sans-serif;
}

.inter{
  font-family: 'Inter', sans-serif;
}

.doppio{
  font-family: 'Doppio One', sans-serif;
}

.dohyon{
  font-family: 'Do Hyeon', sans-serif;
}

.dmsans{
  font-family: 'DM Sans', sans-serif;
}